# Core ML
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.0+cpu
numpy<2.0.0  # Force a 1.x version to avoid the _ARRAY_API conflict
pandas
scikit-learn
mlflow

# Orchestration & Tracking
mlflow==2.16.0
psycopg2-binary

# API & Configuration
fastapi
uvicorn[standard]
pydantic-settings
python-dotenv

# Storage
boto3


